@import 'variables';

body, *, input, button {
  box-sizing: border-box;
  font-family: Gilroy, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $background-screen;
  color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.loader {
  animation: loader 3s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1.title {
  font-size: 28px;
  font-weight: 800;
}

@for $i from 1 through 3 {
  .mb-#{$i} {
    margin-bottom: 10px * $i;
  }
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.min-h-100vh {
  min-height: 100vh;
}

.dialog-size {
  &.mini {
    max-width: 480px;
  }

  &.small {
    max-width: 560px;
  }

  &.medium {
    max-width: 992px;
  }

  &.large {
    max-width: 1200px;
  }
}

.w-100 {
  width: 100% !important;
}
.h-100 {
  height: 100%;
}

.route-link {
  &.white {
    color: #F2F8FE;
  }

  &.underline {
    text-decoration: underline;
  }

  &:hover {
    &.underline {
      text-decoration: none;
    }
  }
}

.flex {
  display: flex;
  &--align-items {
    &--center {
      align-items: center;
    }
  }
}

.box-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.box-col {
  padding-left: 10px;
  padding-right: 10px;
}

.active-pump {
  color: $color-pump;
}

.active-dump {
  color: $color-dump;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background: rgba(48, 159, 246, 0.2);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(48, 159, 246, 0.6);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(48, 159, 246, 1);
}
